.plates {
    /* display: grid;
    grid-template-columns: repeat(10, 20%);
    max-width: 1000px;
    max-height: 225px;
    overflow-x: auto;
    overflow-y: hidden; */

    /* -ms-overflow-style: none;
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */

    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 2%;
    column-gap: 4%;
    padding: 2%;
}

/* .plates::-webkit-scrollbar {
    display: none;
} */


#items {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    border-radius: 1.5%;
    box-shadow: .3px .3px 1px .3px darkgray;
    border-bottom: 3px solid rgba(95, 105, 95, 0.612);
    padding: 5%;
    width: 100%;
}


h1 {
    color: rgba(95, 105, 95, 0.612);
    font-weight: bold;
    font-style: italic;
    font-size: large;
    margin-top: 2%;
    margin-left: 15%;
}


#browse-link {
    text-decoration: none;
    color: rgba(95, 105, 95, 0.612);
    font-weight: bold;
}

#browse-link:hover {
    color: tan;
    transition: all .2s ease-in-out;
}