.searched_items {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 2%;
    column-gap: 4%;
}

h1 {
    color: rgba(95, 105, 95, 0.612);
    font-weight: bold;
    font-style: italic;
    font-size: large;
    margin-top: 2%;
    margin-bottom: 1%;
}

#searched-link {
    text-decoration: none;
    color: rgba(95, 105, 95, 0.612);
    font-weight: bold;
}

#searched-link:hover {
    color: tan;
    transition: all .2s ease-in-out;
}